  <!-- /.content-wrapper -->
  <footer class="main-footer">
    &copy; <a target="_blank" rel="noopener noreferrer" href="https://adminlte.io">AdminLTE</a>
    <div class="float-right d-none d-sm-inline-block">
      <a target="_blank" rel="noopener noreferrer"
          href="https://appseed.us/admin-dashboards/django-dashboard-adminlte">AdminLTE Django</a>
    </div>
  </footer>
