{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="{{ ASSETS_ROOT }}/plugins/fontawesome-free/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="{{ ASSETS_ROOT }}/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{{ ASSETS_ROOT }}/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="{{ ASSETS_ROOT }}/plugins/daterangepicker/daterangepicker.css">
<!-- Theme style -->
<link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/adminlte.min.css">

{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ jumlah_pendapatan }}</h3>

              <p>Jumlah Pendapatan</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info{% if scrapper_status %} bg-success {% else %} bg-danger {% endif %}">
            <div class="inner">
              <h3>
                {% if scrapper_status %}
                UP
                {% else %}
                DOWN
                {% endif %}
              </h3>

              <p>Scrapper Status
                {% if not scrapper_status %}
                <span><small>(please update session)</small></span>
                {% endif %}
              </p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Report Transaction
              </h3>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-12">
                  <a href="{% url 'permata_logout' %}" class="btn btn-danger">
                    <i class="fa fa-fw fa-power-off"></i>logout
                  </a>
                  <a href="{% url 'permata_refresh' %}" class="btn btn-success float-right">
                    <i class="fa fa-fw fa-refresh"></i>refresh
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label>Nama Merchant</label>
                    <select class="form-control" id="merchant-filter">
                      <option></option>
                      {% for merchant_name in merchant_names %}
                      <option value="{{merchant_name.merchant_name}}">{{merchant_name.merchant_name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" id="status-filter">
                      <option></option>
                      <option value="confirmed">Confirmed</option>
                      <option value="unconfirmed">Unconfirmed</option>
                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Tanggal Transaksi</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control float-right" id="reservation">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 table-responsive">
                  <table id="example3" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Nama Customer</th>
                        <th>Nama Merchant</th>
                        <th>Nama PJSP</th>
                        <th>ID Transaksi</th>
                        <th>Jumlah Transaksi</th>
                        <th>Confirmation</th>
                        <th>Notes</th>
                        <th>Transaction Date</th>
                        <th>Updated By</th>
                        <th>Confirmed At</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    <tfoot>
                      <tr>
                        <th class="no-select">No</th>
                        <th>Nama Customer</th>
                        <th class="no-select">Nama Merchant</th>
                        <th>Nama PJSP</th>
                        <th>ID Transaksi</th>
                        <th>Jumlah Transaksi</th>
                        <th class="no-select">Confirmation</th>
                        <th class="no-select">Notes</th>
                        <th class="select-date">Transaction Date</th>
                        <th class="no-select">Updated By</th>
                        <th class="no-select">Confirmed At</th>
                        <th class="no-select">Action</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </section>
        <!-- /.Left col -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

</div>

<div class="modal fade" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="notes-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="notes-modal-form">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="report_id" id="notes-id">
          <div class="form-group">
            <label for="notes-text">Notes</label>
            <textarea class="form-control" name="note" id="notes-text" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Submit</input>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- jQuery -->
<script src="{{ ASSETS_ROOT }}/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="{{ ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="{{ ASSETS_ROOT }}/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- date-range-picker -->
<script src="{{ ASSETS_ROOT }}/plugins/moment/moment.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/daterangepicker/daterangepicker.js"></script>
<!-- AdminLTE App -->
<script src="{{ ASSETS_ROOT }}/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ ASSETS_ROOT }}/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#reservation').daterangepicker()
    var dateTime = $('#reservation').on('apply.daterangepicker', function (ev, picker) {
      $(this).val(picker.startDate.format('YYYY/MM/DD') + '-' + picker.endDate.format('YYYY/MM/DD'));
      var dateTime = picker.startDate.format('YYYY-MM-DD') + '+' + picker.endDate.format('YYYY-MM-DD')
      table.columns().search('');
      if (dateTime) {
        table.columns(8).search(dateTime).draw();
      } else {
        table.draw();
      }
    });
    $('#reservation').on('cancel.daterangepicker', function (ev, picker) {
      table.columns(8).search('').draw();
    });
    $('#notes-modal').on('show.bs.modal', function (event) {
      var myVal = $(event.relatedTarget).data('val');
      $(this).find("#notes-id").val(myVal);
    });
    $('#notes-modal').on('hide.bs.modal', function (event) {
      $('#notes-modal-form')[0].reset();
    });
    $('#notes-modal-form').on('submit', function (e) {
      e.preventDefault();
      $.ajax({
        url: '/permata/report/edit/',
        type: 'POST',
        data: $('#notes-modal-form').serialize(),
        success: function (data) {
          $('#notes-modal-form')[0].reset();
          window.location.reload();
        }
      });
    });
    var table = $('#example3').DataTable({
      "serverSide": true,
      "ajax": "/api/permata/report-data/?format=datatables",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "order": [[8, "desc"]],
      "columnDefs": [
        { "orderable": false, "targets": "_all" }
      ],
      "columns": [
        {
          "data": "id",
          render: function (data, type, row, meta) {
            return meta.row + meta.settings._iDisplayStart + 1;
          }, "searchable": false
        },
        { "data": "customer_name", "searchable": true },
        { "data": "merchant_name", "searchable": true },
        { "data": "pjsp_name", "searchable": false },
        { "data": "trx_id", "searchable": false },
        {
          "data": "trx_total", render: function (data, type, row, meta) {
            return row.trx_total.substr(0, row.trx_total.indexOf(','));
          }, "searchable": false
        },
        { "data": "confirmed", "searchable": true },
        { "data": "note", "searchable": false },
        { "data": "trx_date", "searchable": false },
        { "data": "update_by", "searchable": false },
        { "data": "confirmed_at", "searchable": false },
        {
          "data": "action",
          render: function (data, type, row, meta) {
            return row.action;
          }, "searchable": false
        },
      ],
      "initComplete": function () {
        this.api()
          .columns()
          .every(function () {
            var column = this;
            if ($(column.footer()).hasClass('no-select')) {
              var select = $('<select class="w-100" disabled><option value=""></option></select>')
                .appendTo($(column.footer()).empty())
            } else {
              var select = $('<select class="w-100"><option value=""></option></select>')
                .appendTo($(column.footer()).empty())
                .on('change', function () {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());

                  column.search(val ? val : '', true, false).draw();
                });

              if ($(column.footer()).hasClass('select-date')) {
                var customDateList = [];
                column
                  .data()
                  .unique()
                  .sort()
                  .each(function (d, j) {
                    var dataDateList = d.trim().split(/\s+/);
                    var dataDateVal = dataDateList[0] + " " + dataDateList[1] + " " + dataDateList[2];
                    var dataDateKey = dataDateList[2] + " " + dataDateList[1] + " " + dataDateList[0];
                    if (!customDateList.includes(dataDateKey)) {
                      select.append('<option value="' + dataDateKey + '">' + dataDateVal + '</option>');
                      customDateList.push(dataDateKey);
                    }
                  });
              } else {
                column
                  .data()
                  .unique()
                  .sort()
                  .each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>');
                  });
              }
            }
          });
      },
    });

    $('#status-filter').on('change', function () {
      table.columns().search('');
      var value = this.value;
      if (value) {
        table.columns(6).search(value).draw();
      } else {
        table.draw();
      }
    });
    $('#merchant-filter').on('change', function () {
      table.columns().search('');
      var value = this.value;
      if (value) {
        table.columns(2).search(value).draw();
      } else {
        table.draw();
      }
    });
  });
</script>

{% endblock javascripts %}